Cloud Service/NodeRedJSONExport/Node Red JSON.json
[{"id":"14e72059.36b65","type":"http in","z":"12b529b.1acb2d6","name":"test","url":"/test","method":"get","upload":true,"swaggerDoc":"","x":290,"y":380,"wires":[["47f8826d.590f7c","a721fbe8.d5be88"]]},{"id":"47f8826d.590f7c","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"console":"false","complete":"false","x":491,"y":441,"wires":[]},{"id":"a721fbe8.d5be88","type":"function","z":"12b529b.1acb2d6","name":"test function","func":"msg.payload = \"Test Succssfull\" \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["ad57329b.6f1f8"]]},{"id":"ad57329b.6f1f8","type":"http response","z":"12b529b.1acb2d6","name":"testResponse","statusCode":"200","headers":{},"x":700,"y":380,"wires":[]},{"id":"f413b9fc.d6d778","type":"http in","z":"12b529b.1acb2d6","name":"StatusUpdate","url":"/StatusUpdate","method":"get","upload":false,"swaggerDoc":"","x":310,"y":620,"wires":[["48736023.271c5"]]},{"id":"48736023.271c5","type":"function","z":"12b529b.1acb2d6","name":"updateStatus","func":"status = msg.payload;\n\nvar jsdate = new Date();\nvar jstime = jsdate.getTime();\n\nstatus.timestamp = jstime;\n\nmsg.payload = status ;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["fdc8e683.52fa08","3379dd57.535fe2"]]},{"id":"fdc8e683.52fa08","type":"http response","z":"12b529b.1acb2d6","name":"StatusUpdateResponse","statusCode":"200","headers":{},"x":710,"y":620,"wires":[]},{"id":"da97b6de.7e3d78","type":"http in","z":"12b529b.1acb2d6","name":"FIRE FIRE FIRE FIRE FIRE FIRE FIRE FIRE","url":"/NotifyFire","method":"get","upload":false,"swaggerDoc":"","x":410,"y":920,"wires":[["d8174ffe.b8012","53a422a2.f611bc"]]},{"id":"d8174ffe.b8012","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":920,"wires":[]},{"id":"53a422a2.f611bc","type":"http response","z":"12b529b.1acb2d6","name":"StatusUpdateResponse","statusCode":"200","headers":{},"x":830,"y":880,"wires":[]},{"id":"baea1e62.f783c","type":"http in","z":"12b529b.1acb2d6","name":"LowBatteryLevel","url":"/LowBatteryLevelNotice","method":"get","upload":false,"swaggerDoc":"","x":320,"y":1040,"wires":[["4b562beb.1c6894","48fb5dc.7f6b6a4"]]},{"id":"48fb5dc.7f6b6a4","type":"http response","z":"12b529b.1acb2d6","name":"StatusUpdateResponse","statusCode":"200","headers":{},"x":690,"y":1040,"wires":[]},{"id":"4b562beb.1c6894","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1080,"wires":[]},{"id":"3379dd57.535fe2","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":560,"wires":[]},{"id":"7e559152.dc98a","type":"http in","z":"12b529b.1acb2d6","name":"DeviceStartUpInitialisation","url":"/PowerOnInit","method":"get","upload":false,"swaggerDoc":"","x":350,"y":760,"wires":[["cff695f8.5103f8","4db36001.f061b"]]},{"id":"4db36001.f061b","type":"http response","z":"12b529b.1acb2d6","name":"StatusUpdateResponse","statusCode":"200","headers":{},"x":710,"y":720,"wires":[]},{"id":"cff695f8.5103f8","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":760,"wires":[]},{"id":"53ed3f33.4bd26","type":"inject","z":"12b529b.1acb2d6","name":"DANGER","topic":"","payload":"{\"Methods\":\"DeviceOnline\",\"MacAddress\":\"30:AE:A4:9C:E1:70\",\"BatteryLevel\":\"100\",\"FireSensorValues\":\"80\",\"DeviceLongitude\":103.851959,\"DeviceLatitude\":1.29027}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":20,"wires":[["5cc0ec72.d8b294"]]},{"id":"67c5e688.e19a18","type":"ui_worldmap","z":"12b529b.1acb2d6","group":"e6da0004.cbc23","order":2,"width":"16","height":"11","name":"","lat":"1.290270","lon":"103.851959","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1040,"y":20,"wires":[]},{"id":"871cbd66.e1e0e","type":"change","z":"12b529b.1acb2d6","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ADDRESS\",\"field\":\"name\",\"width\":200,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LATITUDE\",\"field\":\"lat\",\"width\":150,\"align\":\"leftr\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"LONGITUDE\",\"field\":\"lon\",\"width\":150,\"align\":\"left\"},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":100,\"color\":[\"red\",\"orange\",\"yellow\",\"green\"],\"legend\":\"function (value) {return value+' %';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"BATTERY\",\"field\":\"BatteryLevel\",\"formatter\":\"progress\",\"width\":180,\"align\":\"left\"},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":100,\"color\":[\"green\",\"yellow\",\"orange\",\"red\"],\"legend\":\"function (value) {return value+' %';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"FIRE ALERT\",\"field\":\"FireSensorValues\",\"width\":164,\"formatter\":\"progress\"}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["e2c6da04.5d1c68"]]},{"id":"e2c6da04.5d1c68","type":"ui_table","z":"12b529b.1acb2d6","group":"baaefdf1.17d56","name":"FIRE sensing","order":1,"width":"16","height":"11","columns":[],"outputs":1,"cts":true,"x":1020,"y":160,"wires":[[]]},{"id":"5cc0ec72.d8b294","type":"change","z":"12b529b.1acb2d6","name":"","rules":[{"t":"move","p":"payload.DeviceLatitude","pt":"msg","to":"payload.lat","tot":"msg"},{"t":"move","p":"payload.DeviceLongitude","pt":"msg","to":"payload.lon","tot":"msg"},{"t":"move","p":"payload.MacAddress","pt":"msg","to":"payload.name","tot":"msg"},{"t":"delete","p":"payload.Methods","pt":"msg"},{"t":"set","p":"payload.FireSensorValues","pt":"msg","to":"$number(payload.FireSensorValues)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":20,"wires":[["36a459b9.96c1f6","5832a179.3b038","a6d0ba4b.05f378"]]},{"id":"b8bba40d.c2df28","type":"inject","z":"12b529b.1acb2d6","name":"","topic":"","payload":"[{\"name\":\"30:AE:A4:9C:E1:70\",\"lat\":1.29027,\"lon\":103.851959,\"BatteryLevel\":\"89\",\"FireSensorValues\":\"100\"},{\"name\":\"XX:XX:XX:XX:XX:XX\",\"lat\":1.29027,\"lon\":103.851959,\"BatteryLevel\":\"100\",\"FireSensorValues\":\"20\"},{\"name\":\"YY:YY:YY:YY:YY:YY\",\"lat\":22,\"lon\":22,\"BatteryLevel\":\"28\",\"FireSensorValues\":\"80\"},{\"name\":\"ZZ:ZZ:ZZ:ZZ:ZZ:ZZ\",\"lat\":22,\"lon\":22,\"BatteryLevel\":\"90\",\"FireSensorValues\":\"05\"},{\"name\":\"WW:WW:WW:WW:WW:WW\",\"lat\":22,\"lon\":22,\"BatteryLevel\":\"21.8\",\"FireSensorValues\":\"10\"},{\"name\":\"bb:AA:AA:AA:AA:AA\",\"lat\":22,\"lon\":22,\"BatteryLevel\":\"21.8\",\"FireSensorValues\":\"20\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":300,"wires":[["871cbd66.e1e0e","a7f15847.a30998"]]},{"id":"5832a179.3b038","type":"function","z":"12b529b.1acb2d6","name":"","func":"var myArray2 = global.get(\"Array2\") || [] ;\n\nindex = myArray2.findIndex(({name}) => name === msg.payload.name);\n\nif (index === -1) {\n    myArray2.push(msg.payload);\n    global.set(\"Array2\", myArray2);\n} else {\n    myArray2[index] = msg.payload;\n    global.set(\"Array2\", myArray2);\n}\n\nif (msg.payload == \"reset\")\n{\n    myArray2 = [];\n    global.set(\"Array2\", myArray2);\n}\n\nmsg.payload = myArray2;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["871cbd66.e1e0e"]]},{"id":"b2f03ea5.3fa6c","type":"inject","z":"12b529b.1acb2d6","name":"ORCHARD","topic":"","payload":"{\"name\":\"OO:OO:OO:OO:OO:OO\",\"BatteryLevel\":\"100\",\"FireSensorValues\":\"20\",\"lon\":103.831833,\"lat\":1.304833}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["5832a179.3b038"]]},{"id":"36a459b9.96c1f6","type":"switch","z":"12b529b.1acb2d6","name":"","property":"payload.FireSensorValues","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":20,"wires":[["1a757317.25ff5d"]]},{"id":"a7f15847.a30998","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":300,"wires":[]},{"id":"1a757317.25ff5d","type":"change","z":"12b529b.1acb2d6","name":"","rules":[{"t":"set","p":"payload.icon","pt":"msg","to":"fa-fire","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":20,"wires":[["67c5e688.e19a18"]]},{"id":"78bd398a.f9daf8","type":"inject","z":"12b529b.1acb2d6","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["5832a179.3b038"]]},{"id":"f7d5132a.42fc8","type":"inject","z":"12b529b.1acb2d6","name":"QUEENSTOWN MRT","topic":"","payload":"{\"name\":\"DD:DD:DD:DD:DD:DD\",\"BatteryLevel\":\"70\",\"FireSensorValues\":\"10\",\"lon\":103.8037,\"lat\":1.29}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["5832a179.3b038"]]},{"id":"719fa1fe.7dfa","type":"inject","z":"12b529b.1acb2d6","name":"BUKIT TIMAH","topic":"","payload":"{\"name\":\"AA:AA:AA:AA:AA:AA\",\"BatteryLevel\":\"90\",\"FireSensorValues\":\"10\",\"lon\":103.7725,\"lat\":1.3528}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["5832a179.3b038"]]},{"id":"bb849a7b.e15288","type":"inject","z":"12b529b.1acb2d6","name":"SENTOSA","topic":"","payload":"{\"name\":\"WW:WW:WW:WW:WW:WW\",\"BatteryLevel\":\"20\",\"FireSensorValues\":\"5\",\"lon\":103.830933,\"lat\":1.250111}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["5832a179.3b038"]]},{"id":"380203e4.fab87c","type":"inject","z":"12b529b.1acb2d6","name":"SAFE","topic":"","payload":"{\"Methods\":\"DeviceOnline\",\"MacAddress\":\"30:AE:A4:9C:E1:70\",\"BatteryLevel\":\"100\",\"FireSensorValues\":\"10\",\"DeviceLongitude\":103.851959,\"DeviceLatitude\":1.29027}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":60,"wires":[["5cc0ec72.d8b294"]]},{"id":"a6d0ba4b.05f378","type":"debug","z":"12b529b.1acb2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":60,"wires":[]},{"id":"c4da8ac7.5cb088","type":"inject","z":"12b529b.1acb2d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"1","x":180,"y":320,"wires":[["5832a179.3b038"]]},{"id":"13203732.d73619","type":"inject","z":"12b529b.1acb2d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":220,"wires":[["871cbd66.e1e0e"]]},{"id":"e6da0004.cbc23","type":"ui_group","z":"","name":"MAPPING","tab":"700c7859.814af8","order":2,"disp":true,"width":"16","collapse":false},{"id":"baaefdf1.17d56","type":"ui_group","z":"","name":"IoT Fire Sensors","tab":"700c7859.814af8","order":1,"disp":true,"width":"16","collapse":false},{"id":"700c7859.814af8","type":"ui_tab","z":"","name":"Fire Hazard Detection Dashboard","icon":"fa-fire","order":1,"disabled":false,"hidden":false}]